@model EmployeeModel.Models.Employee

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Employee</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.empId)

        <div class="form-group">
            @Html.LabelFor(model => model.empName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.empName)
                @Html.ValidationMessageFor(model => model.empName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.empDoB, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.empDoB)
                @Html.ValidationMessageFor(model => model.empDoB)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.empCreated, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.empCreated)
                @Html.ValidationMessageFor(model => model.empCreated)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.deptId, "deptId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("deptId", String.Empty)
                @Html.ValidationMessageFor(model => model.deptId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.version, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.version)
                @Html.ValidationMessageFor(model => model.version)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
