@model EmployeeModel.Models.Dept

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Dept</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.deptId)

        <div class="form-group">
            @Html.LabelFor(model => model.deptName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.deptName)
                @Html.ValidationMessageFor(model => model.deptName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.branchId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.branchId,
new SelectList(Enumerable.Empty<SelectListItem>(), "branchId", "location"),
              "Select Branch",
              new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.branchId)
            </div>
            <div id="loading">loading...</div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<script>
    $.ajax({
        url: 'http://localhost:4438/branch/AllBranch',
        type: "GET",
        dataType: "JSON",
        success: function (branchs) {
            var val= @(Model.branchId)
            $.each(branchs, function (i, branch) {
                $('#loading').hide();
                if(branch.branchId == val){
                    $("#branchId").append(
                    $('<option selected="selected"></option>').val(branch.branchId).html(branch.location));
                }
                else{
                    $("#branchId").append(
                    $('<option></option>').val(branch.branchId).html(branch.location));
                }

            });
        }
    });
</script>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
